<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenen.literead">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LiteReadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiteReade.Light.NoActionBar">

        <!-- <activity -->
        <!-- android:name=".ui.MainActivity" -->
        <!-- android:label="@string/app_name" /> -->
        <activity
            android:name=".activity.image.ThumbleActivity"
            android:label="@string/title_activity_thumble" />
        <activity
            android:name=".activity.image.ImageDetailActivity"
            android:label="@string/title_activity_image_detail" />
        <activity
            android:name=".activity.zhihu.ZhihuListActivity"
            android:label="@string/zhihu_daily" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.video.VideoListActivity" />
        <activity android:name=".activity.article.ArticleListActivity" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity android:name=".activity.video.VideoPlayerActivity" />
        <activity
            android:name=".activity.zhihu.ZhihuDetailActivity"
            android:label="@string/zhihu_daily" />
        <activity
            android:name=".activity.github.GitSearchActivity"
            android:label="GitHub" />

        <activity
            android:name=".activity.github.UserDetailActivity"
            android:launchMode="standard" />
    </application>

</manifest>